{% extends 'shop/layout.html' %}

{% block content %}
{% load humanize %}
<div class="container">
    <div class="row">
      <a href="meet_create" class="btn btn-primary btn-xl rounded-pill mt-5">예약잡기</a>
            {% for item in item_list %}
            
            <div class="col-sm-3">
                <div class="card">
                    {% if item.photo %}
                        <img class="card-img-top" src="{{ item.photo.url }}">
                    {% endif %}
                    <div class="card-body">
                      <p class="card-title">모임이름 : {{item.name}}</p>
                      <p class="card-title">작성자 : {{item.meet_writer}}</p>
                      <p class="card-title">모임날짜 : {{item.date_select}}</p>
                      
                      {% if item.desc %}
                        <p class="card-text">내용 : {{item.desc}}</p>
                      {% endif %}
                      <p class="card-text">회비 : {{item.amount|intcomma}}</p>
                    
                    <!-- <div class="card-footer">
                      <small class="text-muted">Last updated 3 mins ago</small>
                    </div>-->
                    <!-- 로그인한 유저의 주문 -->
                
                    <!-- {% if loginuser== Order_list} -->
              <!-- {% if loginuser.exists %}
              zz
              {% else%}
              gg
              {%endif%}
                    -->
                {% if user.username in loginuser %}
                zz
                {% endif %}
                    참가인원 :  
                {% for order in Order_list %}
                {% if order.name == item.name%}
                {% if order.status == "paid" %}
                <p>{{order.user}}님</p>
                {% endif %}
                {% endif %}
                {% endfor %}
              </div>
              </div>
               
            </div>
           
            {% endfor %}
    </div>
</div>

{% endblock %}

